# --- OS Files ---
.DS_Store
Thumbs.db

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/

# --- Virtual environments ---
.env/
.venv/
venv/
mlenv311/
mlenv311/*

# --- Jupyter ---
.ipynb_checkpoints/
.notebooks/

# --- Data ---
raw_data/
data/raw/
data/interim/
data/features/

# allow processed folder
!data/processed/

# but ignore actual data files inside it (DVC handles them)
data/processed/*.pkl
data/processed/*.csv

# --- Models ---
*.h5
*.joblib
models/*.pkl

# --- DVC ---
!.dvc/
.dvc/cache/
.dvc/tmp/

# --- Logs ---
logs/
*.log

# --- Prefect ---
prefect.orion/
prefect.db
flows/
deployments/

# --- Build artifacts ---
dist/
build/
